# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.aps
*.ncb
*.opendb
*.VC.db
*.cache
*.ide/

# WPF-Temp/Designer
*_wpftmp.*
*.g.cs
*.g.i.cs
*.i.cache
*.designer.*
*.nuget.*.json
*.nuget.g.props
*.nuget.g.targets

# Sonstiges
publish/
artifacts/
*.patch
*.zip
